.posts-container{
  max-width: 450px;
  width: 100%;

  .post {
    margin-top: 30px;
    border-bottom: 1px solid #575556;

    .tools {
      display: flex;
      justify-content: flex-end;

      .delete-icon {
        margin-left: 10px;
      }
    }

    .info {
      padding: 10px;

      .title {
        font-weight: bold;
        font-style: italic;
        margin-bottom: 10px;
      }

      .content {
        display: flex;
        text-align: start;
      }

      .sliderimg {
        margin-top: 20px;
        width: 100%;
      }
    }

    .comment-icon {
      display: flex;
      justify-content: flex-start;
      margin-top: 5px;
      margin-left: 10px;
    }
  }

  .no-posts {
    margin: 20px 0;
  }
}