.add-post-form {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: white;
  max-width: 400px;
  width: 100%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.cancel-icon {
  cursor: pointer;
}

.add-post-form div + div {
  margin-top: 10px;
}

.tools {
  display: flex;
  justify-content: flex-end;
}

.heading {
  margin-bottom: 20px;
  margin-top: 0;
}

.form-input {
  width: 100%;
  padding: 4px 5px;
  border-radius: 8px;
  border: 1px solid rgb(138, 136, 136)
}

.form-input:focus::placeholder {
  color: transparent;
}

.text-area {
  margin-bottom: 20px;
}

.drop-area {
  border: 2px dashed black;
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-post {
  margin-bottom: 0;
  margin-top: 30px;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(1, 1, 1, 0.5);
}